@font-face {
    font-family: 'osn';
    src: url('TS Remarker.otf') format('opentype');
}

@font-face {
    font-family: 'Zag';
    src: url('Vetrino.otf') format('opentype');
}
body{
    background-color: #FEF4E8;
    width: 100%;
}
header{
    background-color: #8CA273;
    height: 137px;
    display: flex;
    justify-content: space-between;
    padding-right: 91px;
}
a{
    color: #FEF4E8;
    font-size: 48px;
    font-family: Zag;
    margin-top: 30px;
    text-decoration: none;
}
.fon{
    width: 100%;
    height: 624px;
}
.str{
    display: flex;
    justify-content: space-between;
    margin: 3%;
}
footer{
  text-align: right;
  display: grid;
  margin: 5%;
}
footer a{
  color: #5D3529;
}