@font-face {
    font-family: 'osn';
    src: url('TS Remarker Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Zag';
    src: url('Vetrino.otf') format('opentype');
}
body{
    background-color: #FEF4E8;
    width: 100%;
}
header{
    background-color: #8CA273;
    height: 137px;
    display: flex;
    justify-content: space-between;
    padding-right: 91px;
}
a{
    color: #FEF4E8;
    font-size: 48px;
    font-family: Zag;
    margin-top: 30px;
    text-decoration: none;
}
.fon{
    width: 100%;
    height: 624px;
}
.str{
    display: flex;
    justify-content: space-between;
    margin: 3%;
    gap: 2%;
}
.str img{
    width: 22%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
    display: block;
}
.str img:hover{
    transform: scale(1.05);
}
.str a{
    width: 22%;
    display: block;
    text-decoration: none;
    overflow: hidden;
}
.str a img{
    width: 100%;
}
footer{
  text-align: right;
  display: grid;
  margin: 5%;
}
footer a{
  color: #5D3529;
}